extends layout

block content
    h1= title
    h2= subtitle

    p Languages spoken:
    div(id='tablecontainer')
        table 
            th Language
            each language in languages        
                tr
                    td #{language}
        table 
            th Occurences
            each count in counts
                tr
                    td #{count}
