extends layout
block content 
    div(id="countrycontinent")
        
        each continent in continents
            table
                th(class="continenthead") #{continent.name}
                tr
                    each country in continent.countries
                        tr
                        td #{country}
                      
                        
        