extends layout
block content 
    table

        each continent in continents
            th #{continent.name}
            tr
                each country in continent.countries
                    td #{country}
                    tr
                    
        