extends layout

block content
    h1= title
    h2= subtitle

    form(id='languageSelectForm' action='/language' method='post')
        div
            select(name='language')
                each language in languages
                    option #{language}
            input(type='submit' value='Go')
    hr