extends layout

block content
    h1=title
    h2 Languages in the world
    p We have #{count} languages in the world baby
    table(id="tablelanguage")
        each language in languages
            tr
                td #{language.language}
    