doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        header
            nav
                ul
                    li
                        a(href="/") Home
                    li
                        a(href="/country") Select Country
                    li
                        a(href="/countryData") Register Country
                    li
                        a(href="/continent") Select continent
                    li
                        a(href="/languages") All languages
                    li
                        a(href="/countriesSorted") Countries grouped intro continents
                    li
                        a(href="/cities") Cities
                    
        main
            block content