body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#tablecontainer{
  display: flex;
}

#tablecontainer table th{
  text-align: left;
}

#tablelanguageContainer{
  display: flex;
}

#countrycontinent{
  display: flex;
  text-align: left;
  margin: auto;
}

#countrycontinent table{
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
}
