body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#tablecontainer{
  display: flex;
}

#tablecontainer table th{
  text-align: left;
}

#tablelanguageContainer{
  display: flex;
}
